{
  "root": true,
  "env": {
    "react-native/react-native": true
  },
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "babel-module": {},
      "typescript": {}
    }
  },
  "plugins": [
    "react",
    "react-native",
    "react-hooks",
    "simple-import-sort",
    "@typescript-eslint",
    "@tanstack/query"
  ],
  "rules": {
    "class-methods-use-this": [
      "error",
      {
        "enforceForClassFields": false
      }
    ],
    "comma-dangle": "off",
    "global-require": "off",
    "import/extensions": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-cycle": "warn",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-named-as-default": "warn",
    "import/no-named-as-default-member": "warn",
    "import/prefer-default-export": "off",
    "no-await-in-loop": "warn",
    "no-param-reassign": "warn",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "no-nested-ternary": "warn",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      },
      {
        "usePrettierrc": true
      }
    ],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-native/no-inline-styles": "error",
    "react-native/no-raw-text": "error",
    "react/display-name": "off",
    "react/forbid-prop-types": "off",
    "react/function-component-definition": "off",
    "react/jsx-curly-brace-presence": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ],
    "react/jsx-no-useless-fragment": [
      "warn",
      {
        "allowExpressions": true
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/no-danger": "warn",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "@typescript-eslint/no-empty-interface": "warn",
    "@typescript-eslint/no-var-requires": "warn",
    "@typescript-eslint/no-explicit-any": "warn",
    "import/order": [
      "error",
      {
        "alphabetize": {
          "caseInsensitive": true,
          "order": "asc"
        },
        "groups": [
          "external",
          "builtin",
          "internal",
          ["parent", "sibling"],
          "index",
          "type",
          "object"
        ],
        "newlines-between": "always",
        "pathGroups": [
          {
            "group": "external",
            "pattern": "react",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"]
      }
    ]
  }
}
